h1
{
	color:#0080ff;
	font-family:broadway;
	line-height:50%;
}
h4
{
	font-family:comic sans ms;
}
h2
{
	color:#0080ff;
	font-family:elephant;
}
h3
{
	color:#00bfff;
	font-family:comic sans ms;
}
/*p
{
	text-align:justify;
}*/